<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <script>
        let contactCount = 1

         function addContactInput() {
             if(contactCount < 3) {
                 const contactsContainer = document.getElementById("contactsContainer")
                 const inputPair = document.createElement("div")
                 inputPair.className = "flex items-center space-x-2 mt-2"
                 inputPair.innerHTML = `

                     <input type="text" class="p-2 w-full border rounded">
                     <input type="radio" name="primaryContact" class="form-radio">
                     <button class="ml-2 text-red-500 hover:text-red-700" onclick="deleteContactInput(this)">
                        <i class="fas fa-trash"></i>
                     </button>
                 `
                 contactsContainer.appendChild(inputPair)
                 contactCount++
             }

             if (contactCount >= 3) {
                 const addButton = document.getElementById("addContactButton")
                 addButton.classList.add("cursor-not-allowed")
             }
         }

         function deleteContactInput(button) {

            if(contactCount > 1) {
                const inputPair = button.parentNode;
                const contactsContainer = document.getElementById("contactsContainer");
                contactsContainer.removeChild(inputPair);
                contactCount--;

            }


            // Enable "Add Contact" button if count goes below the minimum
            if (contactCount < 3) {
                 const addButton = document.getElementById("addContactButton")
                 addButton.classList.remove("cursor-not-allowed")
           }
        }
    </script>
</head>
<body class="bg-gray-100 p-8">
    <div class="w-full mx-auto bg-white p-6 rounded shadow">
        <div class="grid grid-cols-2 gap-4">
            <div>
                <label class="block text-sm font-medium text-gray-700">First Name</label>
                <input th:value="${employee.firstName}" type="text" class="mt-1 p-2 w-full border rounded">
            </div>
            <div>


                <div  class="flex justify-between">
                    <label class="block text-sm font-medium text-gray-700">Contact Info: <span>
                        <button id="addContactButton" class="ml-2 text-blue-500 hover:text-blue-700" onclick="addContactInput()">
                            <i  class="fas fa-plus"></i>
                            Add
                        </button>
<!--                        <button id="addContactButton" class="relative items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex" onclick="addContactInput()">Add Contact</button>-->
                        </span>
                    </label>
                    <div class="mt-1 text-sm font-medium text-gray-700">Primary?</div>
                </div>
                <div id="contactsContainer" class="mt-1 space-y-2">
                    <div class="flex items-center space-x-2">

                        <input type="text" class="p-2 w-full border rounded">
                        <input type="radio" name="primaryContact" class="form-radio" checked>
                        <button class="ml-2 text-red-500 hover:text-red-700" onclick="deleteContactInput(this)">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <div>
                <label class="block text-sm font-medium text-gray-700">Middle Name</label>
                <input th:value="${employee.middleName}" type="text" class="mt-1 p-2 w-full border rounded">
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <div>
                <label class="block text-sm font-medium text-gray-700">Last Name</label>
                <input th:value="${employee.lastName}" type="text" class="mt-1 p-2 w-full border rounded">
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <div>
                <label class="block text-sm font-medium text-gray-700">Birth Date</label>
                <input th:value="${employee.birthdate}" type="date" class="mt-1 p-2 w-full border rounded">
            </div>
            <div>
                <div  class="flex justify-between">
                    <label class="block text-sm font-medium text-gray-700">Address Info: <span>
                        <button class="ml-2 text-blue-500 hover:text-blue-700">
                            <i  class="fas fa-plus"></i>
                            Add
                        </button>
                        <!--                        <button id="addContactButton" class="relative items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex" onclick="addContactInput()">Add Contact</button>-->
                        </span>
                    </label>
                    <div class="mt-1 text-sm font-medium text-gray-700">Primary?</div>
                </div>
                <div  class="mt-1 space-y-2">
                    <div class="flex items-center space-x-2">

                        <input type="text" class="p-2 w-full border rounded">
                        <input type="radio" name="primaryAddress" class="form-radio" checked>
                        <button class="ml-2 text-red-500 hover:text-red-700" onclick="">
                            <i class="fas fa-trash"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <div>
                <label class="block text-sm font-medium text-gray-700">Gender</label>
                <select th:field="*{employee.gender}" class="mt-1 p-2 w-full border rounded">
                    <option value="MALE">Male</option>
                    <option value="FEMALE">Female</option>
                    <option value="OTHER">Other</option>
                </select>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <div>
                <label class="block text-sm font-medium text-gray-700">Marital Status</label>
                <select th:field="*{employee.maritalStatus}" class="mt-1 p-2 w-full border rounded">
                    <option value="DIVORCED">Divorced</option>
                    <option value="MARRIED">Married</option>
                    <option value="SINGLE">Single</option>
                    <option value="WIDOWED">Widowed</option>
                </select>
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <div>
                <label class="block text-sm font-medium text-gray-700">Position</label>
                <input th:value="${employee.position}" type="text" class="mt-1 p-2 w-full border rounded">
            </div>
        </div>
        <div class="grid grid-cols-2 gap-4 mt-4">
            <div>
                <label class="block text-sm font-medium text-gray-700">Date Hired</label>
                <input  th:value="${employee.dateHired}" type="date" class="mt-1 p-2 w-full border rounded">
            </div>
        </div>
        <div class="mt-6">
            <button class="bg-blue-500 hover:bg-blue-600 text-white py-2 px-4 rounded">Submit</button>
        </div>
    </div>
</body>
</html>