<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        /* Your additional custom styles can go here */
    </style>
</head>

<body class="bg-gray-100">
    <div class="flex flex-col mx-2">
<!--        <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">-->
<!--            <div class="inline-block  py-2 sm:px-6 lg:px-8">-->
                <div class="min-w-full">
                    <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6">
                        <div class="sm:flex sm:flex-1 sm:items-center sm:justify-between">
                            <div>
                                <button
                                        id="showModal"
                                        onclick="onClickAdd()"
                                        type="button"
                                        class="relative items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">Add</button>
                            </div>
                        </div>
                    </div>
                    <table class="min-w-full text-left text-sm font-light">
                        <thead class="border-b font-medium dark:border-neutral-500">
                        <tr>
                            <th scope="col" class="px-6 py-4">Name</th>
                            <th scope="col" class="px-6 py-4">Primary Address</th>
                            <th scope="col" class="px-6 py-4">Primary Contact Info</th>
                            <th scope="col" class="px-6 py-4">Age</th>
                            <th scope="col" class="px-6 py-4"># of Year in the Company</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr th:each="employee : ${employees}" class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">

                            <td th:text="${employee.name}" class="whitespace-nowrap px-6 py-4 font-medium"></td>
                            <td class="whitespace-nowrap px-6 py-4">
                                <span th:if="${#lists.isEmpty(employee.primaryAddress)}" class="italic">No Address</span>
                                <span th:each="primaryAddress : ${employee.primaryAddress}">
                                    <span th:text="${primaryAddress.addressOne}"></span>
                                    ,
                                    <span th:text="${primaryAddress.addressTwo}"></span>
                                </span>
                            </td>
                            <td class="whitespace-nowrap px-6 py-4">
                                <span th:if="${#lists.isEmpty(employee.primaryContact)}" class="italic">No Contact</span>
                                <span th:each="primaryContact : ${employee.primaryContact}">
                                    <span th:text="${primaryContact.value}"></span>
                                </span>
                            </td>
                            <td th:text="${employee.age}" class="whitespace-nowrap px-6 py-4"></td>
                            <td th:text="${employee.yearsInTheCompany}" class="whitespace-nowrap px-6 py-4"></td>
                            <td>
                                <a  th:onclick="'onClickEdit(' + ${employee.id} + ')'"
                                    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded m-2">
                                    Edit
                                </a>
                                <a th:href="@{/delete/{id}(id=${employee.id})}"
                                   class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-red-700 rounded">
                                    Delete
                                </a>
                            </td>
                        </tr>

                        </tbody>
                    </table>

                    <div class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3">
                        <div class="sm:flex sm:flex-1 sm:items-center sm:justify-between">
                            <div>
<!--                                <p class="text-sm text-gray-700">-->
<!--                                    Showing-->
<!--                                    <span class="font-medium">1</span>-->
<!--                                    to-->
<!--                                    <span class="font-medium">10</span>-->
<!--                                    of-->
<!--                                    <span class="font-medium">97</span>-->
<!--                                    results-->
<!--                                </p>-->
                            </div>
                            <div>
                                <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
                                    <a href="#" class="relative items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">First</a>
                                    <a href="#" class="relative inline-flex items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0">Prev</a>
                                    <a href="#" class="relative items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">Next</a>
                                    <a href="#" class="relative items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex">Last</a>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
<!--            </div>-->
<!--        </div>-->
    </div>
</body>

<script>
    const modal = document.querySelector('#employeeModal')
    const onClickAdd = () => {
        window.location.href = '/create-employee'
    }

    const onClickEdit = (id) => {
        console.log(id)
        window.location.href = `/edit-employee/${id}`
    }


</script>
</html>

