<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Employee</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
            rel="stylesheet"
    />
</head>
<body class="bg-gray-100">
<div class="flex flex-col mx-2">
    <div class="min-w-full">
        <div
                class="flex justify-between border-t border-gray-200 bg-white px-4 py-3 sm:px-6"
        >
            <div>
                <div th:if="${is_admin}">
                    <button
                            onclick="onClickAddModal()"
                            id="showModal"
                            type="button"
                            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded m-2"
                    >
                        Add Employee
                    </button>
                </div>
            </div>

            <div>
                <a
                        id="logout"
                        type="button"
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-red-700 rounded m-2"
                        href="/logout"
                >
                    Sign out
                </a>
            </div>
        </div>
        <table class="table min-w-full text-left text-sm font-light">
            <thead class="border-b font-medium dark:border-neutral-500">
            <tr>
                <th scope="col" class="px-6 py-4">Name</th>
                <th scope="col" class="px-6 py-4">Primary Address</th>
                <th scope="col" class="px-6 py-4">Primary Contact Info</th>
                <th scope="col" class="px-6 py-4">Age</th>
                <th scope="col" class="px-6 py-4"># of Year in the Company</th>
                <th></th>
            </tr>
            </thead>
            <tbody id="table-body"></tbody>
        </table>
        <div
                class="flex items-center justify-between border-t border-gray-200 bg-white px-4 py-3"
        >
            <div class="sm:flex sm:flex-1 sm:items-center sm:justify-between">
                <div></div>
                <div>
                    <ul
                            class="pagination justify-center isolate inline-flex -space-x-px rounded-md shadow-s"
                            id="pagination"
                    ></ul>
                </div>
            </div>
        </div>
    </div>

    <div
            class="modal hidden fixed inset-0 flex items-center justify-center z-50 max-h-full"
            id="viewModal"
    >
        <div class="modal-overlay absolute inset-0 bg-black opacity-50"></div>
        <div
                class="modal-container relative bg-black w-full max-w-4xl max-h-full absolute bg-white w-96 mx-auto rounded shadow-lg z-50"
        >
            <div
                    class="flex items-center justify-between p-5 border-b rounded-t dark:border-gray-600"
            >
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">
                    Employee
                </h3>
                <button
                        id="close-modal"
                        type="button"
                        class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                >
                    <svg
                            class="w-3 h-3"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 14 14"
                    >
                        <path
                                stroke="currentColor"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"
                        />
                    </svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <div class="modal-content py-4 px-6">
                <form id="myForm">
                    <div class="grid grid-cols-2 grid-rows-8 gap-4">
                        <div>
                            <label class="block text-sm font-medium text-gray-700"
                            >First Name</label
                            >
                            <input
                                    id="firstName"
                                    name="firstName"
                                    type="text"
                                    class="mt-1 p-2 w-full border rounded"
                                    placeholder="First Name"
                                    maxlength="20"
                                    th:attr="disabled=${not is_admin}"
                                    required
                            />
                        </div>
                        <div class="col-start-1 row-start-2">
                            <label class="block text-sm font-medium text-gray-700"
                            >Middle Name</label
                            >
                            <input
                                    id="middleName"
                                    type="text"
                                    name="middleName"
                                    class="mt-1 p-2 w-full border rounded"
                                    placeholder="Middle Name"
                                    maxlength="20"
                                    th:attr="disabled=${not is_admin}"
                                    required
                            />
                        </div>
                        <div class="col-start-1 row-start-3">
                            <label class="block text-sm font-medium text-gray-700"
                            >Last Name</label
                            >
                            <input
                                    id="lastName"
                                    name="lastName"
                                    type="text"
                                    class="mt-1 p-2 w-full border rounded"
                                    placeholder="Last Name"
                                    maxlength="20"
                                    th:attr="disabled=${not is_admin}"
                                    required
                            />
                        </div>
                        <div class="col-start-1 row-start-4">
                            <label class="block text-sm font-medium text-gray-700"
                            >Birth Date</label
                            >
                            <input
                                    id="birthdate"
                                    name="birthdate"
                                    type="date"
                                    class="mt-1 p-2 w-full border rounded"
                                    maxlength="20"
                                    th:attr="disabled=${not is_admin}"
                                    required
                            />
                            <p id="birthdateError" style="color: red"></p>
                        </div>
                        <div class="col-start-1 row-start-5">
                            <label class="block text-sm font-medium text-gray-700"
                            >Gender</label
                            >
                            <select
                                    id="gender"
                                    name="gender"
                                    class="mt-1 p-2 w-full border rounded"
                                    th:attr="disabled=${not is_admin}"
                                    required
                            >
                                <option value="MALE">Male</option>
                                <option value="FEMALE">Female</option>
                                <option value="OTHER">Other</option>
                            </select>
                        </div>
                        <div class="col-start-1 row-start-6">
                            <label class="block text-sm font-medium text-gray-700"
                            >Marital Status</label
                            >
                            <select
                                    id="maritalStatus"
                                    name="maritalStatus"
                                    class="mt-1 p-2 w-full border rounded"
                                    th:attr="disabled=${not is_admin}"
                                    required
                            >
                                <option value="DIVORCED">Divorced</option>
                                <option value="MARRIED">Married</option>
                                <option value="SINGLE">Single</option>
                                <option value="WIDOWED">Widowed</option>
                            </select>
                        </div>
                        <div class="col-start-1 row-start-7">
                            <label class="block text-sm font-medium text-gray-700"
                            >Position</label
                            >
                            <input
                                    id="position"
                                    name="position"
                                    type="text"
                                    class="mt-1 p-2 w-full border rounded"
                                    placeholder="Position"
                                    maxlength="20"
                                    th:attr="disabled=${not is_admin}"
                                    required
                            />
                        </div>
                        <div class="col-start-1 row-start-8">
                            <label class="block text-sm font-medium text-gray-700"
                            >Date Hired</label
                            >
                            <input
                                    id="dateHired"
                                    name="dateHired"
                                    type="date"
                                    class="mt-1 p-2 w-full border rounded"
                                    th:attr="disabled=${not is_admin}"
                                    required
                            />
                            <p id="dateHiredError" style="color: red"></p>
                        </div>
                        <div class="row-span-4 col-start-2 row-start-1">
                            <div class="flex justify-between">
                                <label class="block text-sm font-medium text-gray-700">
                                    Contact Info:
                                    <span th:if="${is_admin}">
                        <button
                                id="addContactButton"
                                class="ml-2 text-blue-500 hover:text-blue-700"
                                onclick="addContactInput()"
                                type="button"
                        >
                          <i class="fas fa-plus"></i>
                          Add
                        </button>
                      </span>
                                </label>
                                <div class="text-sm font-medium text-gray-700">
                                    Primary?
                                </div>
                            </div>
                            <div id="contactsContainer" class="mt-1 space-y-2"></div>
                        </div>
                        <div class="row-span-4 col-start-2 row-start-5">
                            <div class="flex justify-between">
                                <label class="block text-sm font-medium text-gray-700">
                                    Address Info:
                                    <span th:if="${is_admin}">
                        <button
                                id="addAddressButton"
                                class="ml-2 text-blue-500 hover:text-blue-700"
                                type="button"
                                onclick="addAddressInput()"
                        >
                          <i class="fas fa-plus"></i>
                          Add
                        </button>
                      </span>
                                </label>
                                <div class="text-sm font-medium text-gray-700">
                                    Primary?
                                </div>
                            </div>
                            <div id="addressContainer" class="mt-1 space-y-2"></div>
                        </div>
                    </div>
                    <div class="flex items-center pt-6 space-x-2" th:if="${is_admin}">
                        <button
                                type="submit"
                                class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded"
                        >
                            Save
                        </button>
                        <button
                                id="modal-delete-btn"
                                onclick="handleOnDeleteModal(event)"
                                type="button"
                                class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-red-700 rounded"
                        >
                            Delete
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    const is_admin = "[[${is_admin}]]"; //string

    let contactCount = 1;
    let addressCount = 1;
    async function getTableData() {
      return new Promise((resolve, reject) => {
        fetch("/graphql", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            query: `{
                                employeeTable {
                                    id,
                                    name,
                                    primaryAddress,
                                    primaryContact,
                                    age,
                                    yearsInTheCompany
                                    }
                                }
                            `,
          }),
        })
          .then((res) => res.json())
          .then((res) => {
            resolve(res);
          })
          .catch((err) => reject(err));
      });
    }

    (async () => {
      const response = await getTableData();
      const employees = response.data.employeeTable || [];

      const itemsPerPage = 10;
      let currentPage = 1;
      function renderTableData(data, page) {
        const startIndex = (page - 1) * itemsPerPage;
        const endIndex = startIndex + itemsPerPage;

        const tableBody = document.getElementById("table-body");
        tableBody.innerHTML = "";

        for (let i = startIndex; i < endIndex && i < data.length; i++) {
          const row = `
                    <tr class="border-b transition duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-500 dark:hover:bg-neutral-600">
                        <td class="whitespace-nowrap px-6 py-4 font-medium">${
                          data[i].name
                        }</td>
                        <td class="whitespace-nowrap px-6 py-4">${
                          data[i].primaryAddress
                        }</td>
                        <td class="whitespace-nowrap px-6 py-4">${
                          data[i].primaryContact
                        }</td>
                        <td class="whitespace-nowrap px-6 py-4">${
                          data[i].age
                        }</td>
                        <td class="whitespace-nowrap px-6 py-4">${
                          data[i].yearsInTheCompany
                        }</td>
                        <td>
                            <button class="view-btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 border border-blue-700 rounded m-2" data-row-id="${
                              data[i].id
                            }">${is_admin === "true" ? "Edit" : "View"}</button>
                            ${
                              is_admin === "true"
                                ? `<button class="delete-btn bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 border border-red-700 rounded" data-row-id="${data[i].id}">Delete</button>`
                                : ""
                            }
                        </td>
                    </tr>
                `;

          tableBody.innerHTML += row;
        }

        const viewButtons = document.querySelectorAll(".view-btn");
        const deleteButtons = document.querySelectorAll(".delete-btn");

        // view/edit employee
        viewButtons.forEach((button) => {
          button.addEventListener("click", () => {
            const rowIndex = button.getAttribute("data-row-id");

            handleOnView(rowIndex);
          });
        });

        // delete employee
        deleteButtons.forEach((button) => {
          button.addEventListener("click", () => {
            const rowIndex = button.getAttribute("data-row-id");
            console.log(rowIndex);
            // displayDataModal(data[rowIndex]);

            handleOnDelete(rowIndex, async () => {
              const response = await getTableData();
              const employees = response.data.employeeTable || [];

              render(employees);
            });
          });
        });
      }

      function renderPagination(data) {
        const totalPages = Math.ceil(data.length / itemsPerPage);
        const pagination = document.getElementById("pagination");
        pagination.innerHTML = "";

        const firstPageLink = createPaginationLink("First", 1);
        const prevPageLink = createPaginationLink("Prev", currentPage - 1);
        const nextPageLink = createPaginationLink("Next", currentPage + 1);
        const lastPageLink = createPaginationLink("Last", totalPages);

        pagination.appendChild(firstPageLink);
        pagination.appendChild(prevPageLink);
        pagination.appendChild(nextPageLink);
        pagination.appendChild(lastPageLink);
      }

      function createPaginationLink(text, page) {
        const li = document.createElement("li");
        li.className =
          "relative items-center px-4 py-2 text-sm font-semibold text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-gray-50 focus:z-20 focus:outline-offset-0 md:inline-flex";
        const link = document.createElement("a");
        link.className = "page-link";
        link.textContent = text;
        link.href = "#";

        if (page < 1 || page > Math.ceil(employees.length / itemsPerPage)) {
          li.classList.add("cursor-not-allowed");
          li.classList.add("opacity-50");
          link.removeAttribute("href");
        } else {
          li.addEventListener("click", () => {
            currentPage = page;
            renderTableData(employees, currentPage);
            renderPagination(employees);
          });
        }

        li.appendChild(link);
        return li;
      }

      function render(data) {
        renderTableData(data, currentPage);
        renderPagination(data);
      }

      render(employees);
    })();

    function handleOnDelete(id, callback) {
      const variables = {
        id: parseInt(id),
      };

      const mutation = `
                mutation DeleteEmployee($id: ID!) {
                    deleteEmployee(id: $id)
            }
        `;

      fetch("/graphql", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ query: mutation, variables }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("response", data);
        })
        .catch((error) => {
          console.error("Error creating item:", error);
        })
        .finally(async () => {
          if (callback) await callback();
        });
    }

    function handleOnView(id) {
      document.getElementById("myForm").setAttribute("action", "edit");
      document.getElementById("myForm").setAttribute("employee-row-id", id);
      const variables = {
        id: parseInt(id),
      };
      const query = `
                query Employee($id: ID!) {
                    employee(id: $id) {
                        firstName,
                        middleName,
                        lastName,
                        birthdate,
                        gender,
                        maritalStatus,
                        position,
                        dateHired,
                        contacts {
                            id,
                            value,
                            isPrimary
                        }
                        addresses {
                            id,
                            addressOne,
                            addressTwo,
                            isPrimary
                        }
                    }
            }
        `;

      fetch("/graphql", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ query, variables }),
      })
        .then((response) => response.json())
        .then((data) => {
          const employee = data.data.employee || {};

          const firstName = document.getElementById("firstName");
          const middleName = document.getElementById("middleName");
          const lastName = document.getElementById("lastName");
          const birthdate = document.getElementById("birthdate");
          const gender = document.getElementById("gender");
          const maritalStatus = document.getElementById("maritalStatus");
          const position = document.getElementById("position");
          const dateHired = document.getElementById("dateHired");

          firstName.value = employee.firstName;
          middleName.value = employee.middleName;
          lastName.value = employee.lastName;
          birthdate.value = employee.birthdate;
          gender.value = employee.gender;
          maritalStatus.value = employee.maritalStatus;
          position.value = employee.position;
          dateHired.value = employee.dateHired;

          const { contacts = [], addresses = [] } = employee;

          const contactsContainer =
            document.getElementById("contactsContainer");

          const addressContainer = document.getElementById("addressContainer");

          while (contactsContainer.firstChild) {
            contactsContainer.removeChild(contactsContainer.firstChild);
          }

          while (addressContainer.firstChild) {
            addressContainer.removeChild(addressContainer.firstChild);
          }

          contactCount = 0;
          for (const c of contacts) {
            const inputPair = document.createElement("div");
            inputPair.className = "flex items-center space-x-2";
            inputPair.innerHTML = `
                        <input type="text" class="p-2 w-full border rounded contact-value" placeholder="Value" ${
                          is_admin !== "true" ? "disabled" : ""
                        } value="${c.value}" contact-id="${
              c.id
            }" maxlength="20" required>
                        <input type="radio" name="primaryContact" class="form-radio primary-contact" ${
                          is_admin !== "true" ? "disabled" : ""
                        } ${c.isPrimary ? "checked" : ""}>
                          ${
                            is_admin === "true"
                              ? `
                        <button class="ml-2 text-red-500 hover:text-red-700" type="button" onclick="deleteContactInput(this)">
                            <i class="fas fa-trash"></i>
                        </button>`
                              : ""
                          }
                        `;
            contactsContainer.appendChild(inputPair);
            contactCount++;
          }
          addressCount = 0;
          for (const a of addresses) {
            const inputPair = document.createElement("div");
            inputPair.className = "flex items-center space-x-2";
            inputPair.innerHTML = `
                      <div class="grid grid-cols-2 grid-rows-1 gap-2">
                        <div>
                          <input
                            type="text"
                            class="p-2 w-full border rounded address-one"
                            placeholder="Address 1"
                            value="${a.addressOne}"
                            address-id="${a.id}"
                            maxlength="40"
                            ${is_admin !== "true" ? "disabled" : ""}
                            required
                          />
                        </div>
                        <div>
                          <input
                            type="text"
                            class="p-2 w-full border rounded address-two"
                            placeholder="Address 2"
                            value="${a.addressTwo}"
                            address-id="${a.id}"
                            maxlength="40"
                            ${is_admin !== "true" ? "disabled" : ""}
                            required
                          />
                        </div>
                      </div>
                      <input
                        type="radio"
                        name="primaryAddress"
                        class="form-radio primary-address"
                        ${is_admin !== "true" ? "disabled" : ""}
                        ${a.isPrimary ? "checked" : ""}
                      />

                      ${
                        is_admin === "true"
                          ? `
                      <button
                        class="ml-2 text-red-500 hover:text-red-700"
                        onclick="deleteAddressInput(this)"
                        type="button"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                      `
                          : ""
                      }
                 `;
            addressContainer.appendChild(inputPair);
            addressCount++;
          }

          const modal = document.getElementById("viewModal");
          modal.classList.remove("hidden");
        })
        .catch((error) => {
          console.error("Error creating item:", error);
        });
    }

    function addContactInput() {
      if (contactCount < 3) {
        const contactsContainer = document.getElementById("contactsContainer");
        const inputPair = document.createElement("div");
        inputPair.className = "flex items-center space-x-2";
        inputPair.innerHTML = `

                     <input type="text" class="p-2 w-full border rounded contact-value" placeholder="Value" maxlength="20" required>
                     <input type="radio" name="primaryContact" class="form-radio primary-contact">
                     <button class="ml-2 text-red-500 hover:text-red-700" type="button" onclick="deleteContactInput(this)">
                        <i class="fas fa-trash"></i>
                     </button>
                 `;
        contactsContainer.appendChild(inputPair);
        contactCount++;
      }

      if (contactCount >= 3) {
        const addButton = document.getElementById("addContactButton");
        addButton.classList.add("cursor-not-allowed");
      }
    }

    function deleteContactInput(button) {
      const inputPair = button.parentNode;
      const contactsContainer = document.getElementById("contactsContainer");
      const isPrimary = inputPair.querySelectorAll('input[type="radio"]')[0]
        .checked;

      if (!isPrimary) {
        if (contactCount > 1) {
          contactsContainer.removeChild(inputPair);
          contactCount--;
        }

        if (contactCount < 3) {
          const addButton = document.getElementById("addContactButton");
          addButton.classList.remove("cursor-not-allowed");
        }
      }
    }

    function addAddressInput() {
      if (addressCount < 3) {
        const addressContainer = document.getElementById("addressContainer");
        const inputPair = document.createElement("div");
        inputPair.className = "flex items-center space-x-2";
        inputPair.innerHTML = `
                      <div class="grid grid-cols-2 grid-rows-1 gap-2">
                        <div>
                          <input
                            type="text"
                            class="p-2 w-full border rounded address-one"
                            placeholder="Address 1"
                            maxlength="40"
                            required
                          />
                        </div>
                        <div>
                          <input
                            type="text"
                            class="p-2 w-full border rounded address-two"
                            placeholder="Address 2"
                            maxlength="40"
                            required
                          />
                        </div>
                      </div>
                      <input
                        type="radio"
                        name="primaryAddress"
                        class="form-radio primary-address"
                      />
                      <button
                        class="ml-2 text-red-500 hover:text-red-700"
                        onclick="deleteAddressInput(this)"
                        type="button"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                 `;
        addressContainer.appendChild(inputPair);
        addressCount++;
      }

      if (addressCount >= 3) {
        const addButton = document.getElementById("addAddressButton");
        addButton.classList.add("cursor-not-allowed");
      }
    }

    function deleteAddressInput(button) {
      const inputPair = button.parentNode;
      const addressContainer = document.getElementById("addressContainer");

      const isPrimary = inputPair.querySelectorAll('input[type="radio"]')[0]
        .checked;

      if (!isPrimary) {
        if (addressCount > 1) {
          const inputPair = button.parentNode;
          const addressContainer = document.getElementById("addressContainer");
          addressContainer.removeChild(inputPair);
          addressCount--;
        }

        if (addressCount < 3) {
          const addButton = document.getElementById("addAddressButton");
          addButton.classList.remove("cursor-not-allowed");
        }
      }
    }
    function onClickAddModal() {
      const firstName = document.getElementById("firstName");
      const middleName = document.getElementById("middleName");
      const lastName = document.getElementById("lastName");
      const birthdate = document.getElementById("birthdate");
      const gender = document.getElementById("gender");
      const maritalStatus = document.getElementById("maritalStatus");
      const position = document.getElementById("position");
      const dateHired = document.getElementById("dateHired");

      firstName.value = "";
      middleName.value = "";
      lastName.value = "";
      birthdate.value = "";
      gender.value = "MALE";
      maritalStatus.value = "SINGLE";
      position.value = "";
      dateHired.value = "";
      const contacts = [
        {
          value: "",
          isPrimary: true,
        },
      ];
      const addresses = [
        {
          addressOne: "",
          addressTwo: "",
          isPrimary: true,
        },
      ];

      const contactsContainer = document.getElementById("contactsContainer");

      const addressContainer = document.getElementById("addressContainer");

      while (contactsContainer.firstChild) {
        contactsContainer.removeChild(contactsContainer.firstChild);
      }

      while (addressContainer.firstChild) {
        addressContainer.removeChild(addressContainer.firstChild);
      }

      contactCount = 0;
      for (const c of contacts) {
        const inputPair = document.createElement("div");
        inputPair.className = "flex items-center space-x-2";
        inputPair.innerHTML = `
                        <input type="text" class="p-2 w-full border rounded contact-value" placeholder="Value" value="${
                          c.value
                        }" contact-id="${c.id}" maxlength="20" required>
                        <input type="radio" name="primaryContact" class="form-radio primary-contact" ${
                          c.isPrimary ? "checked" : ""
                        }>
                        <button class="ml-2 text-red-500 hover:text-red-700" type="button" onclick="deleteContactInput(this)">
                            <i class="fas fa-trash"></i>
                        </button>
                        `;
        contactsContainer.appendChild(inputPair);
        contactCount++;
      }
      addressCount = 0;
      for (const a of addresses) {
        const inputPair = document.createElement("div");
        inputPair.className = "flex items-center space-x-2";
        inputPair.innerHTML = `
                      <div class="grid grid-cols-2 grid-rows-1 gap-2">
                        <div>
                          <input
                            type="text"
                            class="p-2 w-full border rounded address-one"
                            placeholder="Address 1"
                            value="${a.addressOne}"
                            address-id="${a.id}"
                            maxlength="40"
                            required
                          />
                        </div>
                        <div>
                          <input
                            type="text"
                            class="p-2 w-full border rounded address-two"
                            placeholder="Address 2"
                            value="${a.addressTwo}"
                            address-id="${a.id}"
                            maxlength="40"
                            required
                          />
                        </div>
                      </div>
                      <input
                        type="radio"
                        name="primaryAddress"
                        class="form-radio primary-address"
                        ${a.isPrimary ? "checked" : ""}
                      />
                      <button
                        class="ml-2 text-red-500 hover:text-red-700"
                        onclick="deleteAddressInput(this)"
                        type="button"
                      >
                        <i class="fas fa-trash"></i>
                      </button>
                 `;
        addressContainer.appendChild(inputPair);
        addressCount++;
      }

      const modal = document.getElementById("viewModal");
      modal.classList.remove("hidden");
      document.getElementById("myForm").setAttribute("action", "add");
    }

    function handleOnDeleteModal(event) {
      event.preventDefault();
      const id = document
        .getElementById("myForm")
        .getAttribute("employee-row-id");

      handleOnDelete(id, null);
      window.location.reload(true);
    }

    // document
    //   .getElementById("modal-delete-btn")
    //   .addEventListener("click", function (event) {
    //     event.preventDefault();
    //     const id = document
    //       .getElementById("myForm")
    //       .getAttribute("employee-row-id");

    //     handleOnDelete(id, null);
    //     window.location.reload(true);
    //   });

    document
      .getElementById("myForm")
      .addEventListener("submit", function (event) {
        event.preventDefault();
        const action = document.getElementById("myForm").getAttribute("action");

        const firstName = document.getElementById("firstName").value;
        const middleName = document.getElementById("middleName").value;
        const lastName = document.getElementById("lastName").value;
        const birthdate = document.getElementById("birthdate").value;
        const gender = document.getElementById("gender").value;
        const maritalStatus = document.getElementById("maritalStatus").value;
        const position = document.getElementById("position").value;
        const dateHired = document.getElementById("dateHired").value;

        const contactsInputContainer =
          document.getElementById("contactsContainer");

        const addressInputContainer =
          document.getElementById("addressContainer");

        const contactInputs =
          contactsInputContainer.getElementsByClassName("contact-value");
        const primaryContactRadios =
          contactsInputContainer.getElementsByClassName("primary-contact");

        const addressOneInputs =
          addressInputContainer.getElementsByClassName("address-one");
        const addressTwoInputs =
          addressInputContainer.getElementsByClassName("address-two");
        const primaryAddressRadios =
          addressInputContainer.getElementsByClassName("primary-address");

        const data = {
          firstName,
          middleName,
          lastName,
          birthdate,
          gender,
          maritalStatus,
          position,
          dateHired,
          contacts: [],
          addresses: [],
        };

        for (let i = 0; i < contactInputs.length; i++) {
          const contact_id = contactInputs[i].getAttribute("contact-id") || 0;
          const contact = {
            ...(parseInt(contact_id) ? { id: parseInt(contact_id) } : {}),
            value: contactInputs[i].value,
            isPrimary: primaryContactRadios[i].checked,
          };

          data.contacts.push(contact);
        }

        for (let i = 0; i < addressOneInputs.length; i++) {
          const address_id =
            addressOneInputs[i].getAttribute("address-id") || 0;
          const address = {
            ...(parseInt("address_id") ? { id: parseInt(address_id) } : {}),
            addressOne: addressOneInputs[i].value,
            addressTwo: addressTwoInputs[i].value,
            isPrimary: primaryAddressRadios[i].checked,
          };
          data.addresses.push(address);
        }

        saveEmployee(data, action);
      });

    function saveEmployee(data, action) {
      let variables = {
        request: data,
      };
      let mutation = `
                mutation Employee($request: EmployeeInput!) {
                    employee(request: $request) {
                    id
                }
            }
        `;

      if (action === "edit") {
        const id = document
          .getElementById("myForm")
          .getAttribute("employee-row-id");

        variables = {
          ...variables,
          id: parseInt(id),
        };

        mutation = `
                mutation UpdateEmployee($id: ID!, $request: EmployeeUpdateInput!) {
                    updateEmployee(id: $id, request: $request) {
                    id
                }
            }
        `;
      }

      fetch("/graphql", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ query: mutation, variables }),
      })
        .then((response) => response.json())
        .then((data) => {
          console.log("Created employee:", data);
        })
        .catch((error) => {
          console.error("Error creating item:", error);
        });
      window.location.reload(true);
    }

    function validation() {
      const birthdateInput = document.getElementById("birthdate");
      const dateError = document.getElementById("birthdateError");

      birthdateInput.addEventListener("input", function () {
        const selectedDate = new Date(this.value);
        const currentDate = new Date();
        if (selectedDate > currentDate) {
          dateError.textContent = "Please select a date not in the future.";
          birthdateInput.setCustomValidity("Selected date is in the future.");
          birthdateInput.classList.add("border-red-500");
        } else {
          dateError.textContent = "";
          birthdateInput.setCustomValidity("");
          birthdateInput.classList.remove("border-red-500");
        }
      });

      const dateHirednput = document.getElementById("dateHired");
      const dateHiredError = document.getElementById("dateHiredError");

      dateHirednput.addEventListener("input", function () {
        const selectedDate = new Date(this.value);
        const currentDate = new Date();
        if (selectedDate > currentDate) {
          dateHiredError.textContent =
            "Please select a date not in the future.";
          dateHirednput.setCustomValidity("Selected date is in the future.");
          dateHirednput.classList.add("border-red-500");
        } else {
          dateHiredError.textContent = "";
          dateHirednput.setCustomValidity("");
          dateHirednput.classList.remove("border-red-500");
        }
      });
    }
    validation();

    document
      .getElementById("close-modal")
      .addEventListener("click", function () {
        const modal = document.getElementById("viewModal");
        modal.classList.add("hidden");
      });
</script>
</html>
